*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #8E0E00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
display: flex;
align-items: center;
justify-content: center;
min-height: 100vh;
}

.player-container{
    height: 500px;
    width: 400px;
    background: #ECE9E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 20px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    text-align: center;
    justify-content: center;
}

.player-container:hover{
    border-radius: 20px;
    box-shadow: 0px 1px 3px rgb(192, 185, 185);
}

.img-container{
    width: 300px;
    height: 300px;
    position: relative;
    left: 50px;
    top: -50px;
}

.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
}

.img-container:hover{
    border-radius: 20px;
    box-shadow: 0px 1px 3px rgb(192, 185, 185);
}

#title{
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    transform: translateY(-10px);
}

#artist{
    font-family: 'Cormorant Garamond', serif;
}

audio{
    transform: translateY(15px);
    font-family: 'Lexend Deca', sans-serif;
}

audio:hover{
    box-shadow: 0px 1px 3px rgb(192, 185, 185);
    border-radius: 25px;
}

.duration-wrapper{
    margin-top: 10px;
}

.duration-wrapper span{
    font-family: 'Lexend Deca', sans-serif;
}

.player-controls{
    display: flex;
    justify-content: center;
    transform: translateY(20px);
}

.fast-backward{
    transform: translateX(-10px);
}

.fast-forward{
    transform: translateX(10px);
}

.player-controls a{
    color: #000;
}

.player-controls a:hover{
    color: rgb(41, 41, 41);
}

